#
LCONF_VERSION = "1"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ##OEROOT##/meta \
    ##OEROOT##/meta-raspberrypi-bsp \
    ##OEROOT##/meta-rose \
    ##OEROOT##/meta-qt5 \
    ##OEROOT##/meta-villa \
    "
BBLAYERS_NON_REMOVABLE ?= " \
    ##OEROOT##/meta \
    ##OEROOT##/meta-rose \
    "
